.todo-heading {
  color: darkslategrey
}

.todo-body {
  color: gray
}
#todo-list{
	margin: 0 auto;
	width: 20%;
	text-align: center;
}
#list-todo{
	cursor: pointer;
	list-style: none;
	line-height: 30px;

}
.list-todo.checked{
	text-decoration: line-through;
}
#list-todo:hover{
	text-decoration: underline;
}
.strike{
	text-decoration: line-through;
}
input{
	cursor: pointer;
}
.custom{
	width: 40%;
	margin: 0 auto;
}